#distribution {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  width: 100%;
  text-align: center;
}

.column {
  width: 200px;
  padding: 5px;
  line-height: 15px;
  font-weight: bold;
}

.day {
  text-align: center;
  font-size: 1em;
  margin-bottom: 5px;
  color: #337AB7;
}

.team {
  color: #555;
  margin-bottom: 4px;
  font-weight: 100;
  background: #F1F1F1;
}

.team div {
  padding: 8px;
  height: 40px;
}